# Web
web-app/node_modules/
web-app/.next/
web-app/.vercel/

# iOS
ios/**/*.xcuserdata/
ios/**/xcuserdata/
ios/build/
ios/DerivedData/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# General
.DS_Store
*.swp
